<!DOCTYPE html>
<html lang="en">
<head>
    <title>QA - {{project.name}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dropzone.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/basic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/imageselection.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/logs.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/jquery-ui.css') }}">
    <script>

        let testing = parseInt("{{ testing }}");

    </script>
    {#    Jquery need to be laoded before bootstrap, other wise it will cause error#}
    <script src="{{ url_for('static', filename='js/angular.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.5.0.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-dialog.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/projectPageScript.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dropzone.js') }}"></script>
    <script src="{{ url_for('static', filename='js/qa-utils.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
    <script src="{{ url_for('html.images_main' , project_name=project.name) }}"></script>
</head>

<!-- After the body has loaded, this javascript function will be run: -->
<body onload="init()">


<div id = "main" class="container">
    <div style="display: grid;  width: 100%;">
        <div style="display: block; width:100%; float:right">
            <div style="float:right"><h5><a href="https://ccipd.case.edu" target="_blank">CCIPD</a></h5></div>
        </div>
        <div style="display: block; width:100%; float:right">
            <div style="float:right">
                <h1><a style="color:#007bff" href="{{ url_for('html.index') }}" title="Go to Home Page" >Quick Annotator</a></h1>
            </div>
            <div>
                <h1><b>Current Project:</b> {{ project.name }}</h1>
            </div>
        </div>
    </div>
    

    <br><br><br>
    <div style="text-align: center">
        <a><button id="initialTraining" disabled class= "btn btn-default" onclick= "generate_train()"><span class="buttonFont" >Generate Training Set</span></button></a>
        <a><button id="startAL" disabled class= "btn btn-default" onclick= "start_al()"><span class="buttonFont">Start AL</span></button></a>
        <a><button id="getALBatch" disabled class= "btn btn-default" onclick= "get_al_batch()"><span class="buttonFont">Get Patch Set</span></button></a>
        <a><button id="annTest" disabled class= "btn btn-default" onclick= "annotateTest()"><span class="buttonFont">Annotate Test</span></button></a>
        <a><button id="makePredButton" disabled class= "btn btn-default" onclick= "make_prediction()"><span class="buttonFont">Make Prediction</span></button></a>
        <dt>Last predictions</dt>
	  <dd id="pred">AUC: -;   Accuracy: -</dd>
        <br><br>
        <div>
            <textarea id="notifications" class="logbase notification" readonly>Notifications will appear here.</textarea>
        </div>
    </div>

    <h3>Click on an image below to begin annotation:</h3>
    <div>
        {% for image in images %}
            <div class="responsive" id="{{ image.name }}">
                <div class="gallery">
                    <div>
                        <a target="_blank" href="{{url_for('html.annotation', project_name = project.name ,image_id=image.id, testing=testing) }}"><img src="{{ url_for('api.get_image_thumb',project_name = project.name, image_name= image.name) }}" height="200px"></a>
                        <a href="#" style="float:right; " onclick= "delete_image('{{ image.name }}')">X</a>
                    <div class="desc">{{ image["name"]}}</div>
                    <p align="center">{{image["width"]}} x {{image["height"]}}</p>
                    <dl class="dl-horizontal">
                        <dt>Total patches</dt>
                        <dd id="patches">{{ image.ROIs}}</dd>
		        <dt>Annotated patches</dt>
                        <dd id="anpatches_{{ image.id }}"><script>annotatedRois( {{ image.id }}, "anpatches_{{ image.id }}") </script></dd>
                        <dt>Training patches</dt>
                        <dd id="training_patches">{{ image.trainingROIs }}</dd>
                        {# <dt>Annotated objects</dt>
                        <dd id="annotated_objects">{{ image.nobjects}}</dd> #}
                        <dt>Image completion</dt>
                        <dd id="annotated_percentage_{{ image.id }}" >N/A</dd>
                        <script>
			updatePercentCompleted({{ image.width }},{{ image.height }},{{ image.ppixel }},{{ image.npixel }},"annotated_percentage_{{ image.id }}")
			</script>
                    </dl>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<hr>
<hr>

<button class="btn btn-default" id="modal_button">View Notifications/Logs</button>

<!-- The Modal -->
<div id="modal_div" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="logs">
      <div class="log">
        <textarea id="log" class="logbase logstream" readonly></textarea>
      </div>
      <div class="tab">
        <button id="defaultOpen" class="tablinks" onclick="show_log(event, '')"><b>Notifications</b></button>
        <button class="tablinks" onclick="show_log(event, 'jobs')"><b>Algorithms</b></button>
        <button class="tablinks" onclick="show_log(event, 'flask')"><b>Server</b></button>
        <button class="tablinks" onclick="show_log(event, 'QA')"><b>(All)</b></button>
        <script>
          // Get the element with id="defaultOpen" and click on it
          document.getElementById("defaultOpen").click();
        </script>
      </div>
    </div>
  </div>
</div>


</body>

</html>
